[Unit]
Description=Wallpaper changer timer

[Timer]
OnBootSec=10min
OnActiveSec=10
OnUnitActiveSec=10min
AccuracySec=1us

[Install]
WantedBy=default.target
